{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>{% block title %}Your Page Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Comment App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto"> <!-- Use ml-auto to align items to the right -->
                {% block navbar %} <!-- Define a block for the navigation content -->
                    <!-- Include your navigation content here -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'topics_list' %}">Home</a>
                    </li>
                    
                    <!-- Add more navigation items as needed -->
                {% endblock %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link">Welcome, {{ user.username }}!</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Signup</a>
                    </li>
                {% endif %}
            </ul>
            <!-- Add any other navigation elements or forms here -->
        </div>
    </nav>
    


    <main>
        <div class="content">
        {% block body %}
            <!-- Include your page-specific content here -->
        {% endblock %}
    </div>
    </main>

    <footer class="footer fixed-bottom bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- Right content in the footer -->
                    <p>Contact: seven.number73@email.com</p>
                    <p>Phone: +989306087131</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- Left content in the footer -->
                    <p>&copy; 2023 Hashtt</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
